.leftmenu img {
    background: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 48px;
    //left: -10px;
    position: relative;
}

.sidebar {
	width: 70px;
	height:100vh;
	background: white;
    left: 0px;
    margin: 0px;
    padding: 5px;
    position: fixed;
    transition: transform 0.5s linear;

}


.sidebar.green {
	/*transition: transform 0.5s linear;*/
	background-color: white;
	width:250px;

}

.alignSidebar{
    max-width: 70px;
    height: 100%;
    position: fixed;
    top: 70px
}
.nav-link{
    display: inline-block !important;
}

.nav-item.leftmenu{
    position:relative;
    left:-20px;
}