@import "~video-react/styles/scss/video-react";
.col-4-width {
    width: 25%;
}
.photo-album-wrapper {
    margin-right: -12px;
}

.photo-album-item-wrap {
    display: inline-block;
    margin-right: -3px;
    padding: 0 7px;
    vertical-align: top;
    border-width: 2px;
    border-color: grey;
    border-radius:10px;
    margin:0px 0px 10px 0px;
}



.imgFooter {
    padding: 25px 25px 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6ecf5;
    border-radius:0px 0px 10px 10px;
    position: relative;
    h5{
        font-size: 16px;
        font-weight:bold;
    }
}


.photo-album-item {
    position: relative;
    border-radius: 5px;
    //border: 1px solid #e6ecf5;
    background-color: #fff;
}

.tab-content {
    //background-color: #f0f0f5;
    //margin:0px -35px 0px 0px;
    div:first-child {
        // background-color: transparent;
        // border: 2px dashed #bbc0d5;
        .photo-album-item {
            /*img:first-child {
                width: 25%;
                height: 30%;
                margin: 30.3%;
            }*/
        }
        .imgFooter {
            span {
                // display: none;
                visibility: hidden;
            }
        }
        .carouselPhotoAlbum {
            // display: none;
            visibility: hidden;
        }
    }
}


.carouselPhotoAlbum {
    position: relative;
    top: 8px;
}
.carousel-item {
    img {            
        width: 20%;
        height: 20%;
        position: relative;
        left: -10px;
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 80px;
  }
  
  ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }

  indicator-height{
   top:0px!important
  }

  ol.carousel-indicators li.active {
    background: wheat;
  }

  ol.carousel-indicators li.active {
    background: red;
  }

  .ui-block {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;
}

.ui-block-title {
    padding: 23px 25px 18px;
    line-height: 1;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.ui-block-title>* {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}

.align-right .btn {
    margin-left: 20px;
    float: left;
    position:relative;
    left: 45%;
    top:0px;    
    padding: 15px;
}


.gallery-header-title {
    float: left;
    
}

.block-btn.align-right{
    position: relative;
    top: -5px;

}
.carousel-inner{
    .carousel-item{
        img:not(:first-of-type){
            position: relative;
            margin-left:-15px;
            z-index: 1;

        }
    }    
}


// .test-hover1,
// .test-hover2 {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .test-hover2 {
//   z-index: 10;
// }

.photo-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 65px;
    height: 100%;
    position: absolute;
    border-bottom: 0;
    font-size:25px;
}

.photo-gallery.nav-tabs .nav-item {
    margin-bottom: 0;
    max-height: 100%;
}

.photo-gallery .nav-link {
    border-radius: 0;
    padding: 30px 26px;
    fill: #c2c5d9;
    background-color: #fafbfd;
    border-color: transparent #e6ecf5;
    height: 100%;
}

.photo-gallery .nav-link.active {
    fill: #ff5e3a;
    background-color: #fff;
    border-top-color: transparent;
}

.ui-block-title .more {
    padding-left: 25px;
    text-align: right;
    width: 16px;
}

.more {
    position: relative;
    transition: all .3s ease;
    color: #888da8;
    fill: #c0c4d8;
}


.photo-gallery-row {
    padding: inherit;
}

.btn.c-grey:hover {
    color: inherit;
}

.block-btn {
    padding-right: 170px;
}

.post__author .more {
    float: right;
    font-size: 16px;
    margin-right: 20px;
}

.more {
    position: relative;
    transition: all .3s ease;
    color: #888da8;
    fill: #c0c4d8;
}

.post {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
}

.post__author {
    margin-bottom: 20px;
    width:100%;

}

.post__author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.inline-items>* {
    display: inline-block;
}

.comments-list .comment-item {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
    background-color: #fafbfd;
    position: relative;
}


.more-dropdown:hover .more-dropdown-content{
    display: block;
    z-index: 1;
}
.more-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    background-color: #fff;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    padding: 15px 20px;
    li a {
        color:black;
    }

    li a:hover{
        color:#ff5e3a;
        text-decoration: none;
    }
}

.post-additional-info {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}

.open-photo-content .mCustomScrollbar {
    overflow-y: scroll;
    max-height: 140px;
}

.comment-form {
    padding: 5px;
    border-top: 1px solid #e6ecf5;
    overflow: hidden;
}

.comment-form .form-group {
    margin-bottom: 0;
    margin-left: auto;
    width:90%;
}

.comment-form textarea {
    width: 100%;
    min-height: 60px;
    height: 60px;
    position: relative;
    top: 55px;
}

.friends-harmonic > li {
    float :left;
    
}

.options-message{
    position: relative;
    left: 94%;
    top: 8px;

}

.content-form-glphy-camera-icon{
    font-size:30px
}
.form-control{
    position: relative;
    top: 40px;
}
.friends-harmonic {
    position:relative;
    left:20px;
    li{
        a {
            img{
                border-radius: 25px;
                
            }
        }
    }
}

// .friends-harmonic:not(:first-of-type) {
//     position: relative;
//     left: -10px;
// }

    


.control-block-button.post-control-button{
    float: right;
    left: 100px;
    position: relative;
    a {
        background: #9a9fbf;
        display: block;
        border-radius: 35px;
        width: 40px;
        height: 40px;
        margin: 5px;
        padding: 6px;
        left: 16px;
        position: relative;
        top: -20px;
        font-size: 20px;
        color: white;
    }
}

.comments-shared{
    position:relative;
    left:40%;
    .post-add-icon{
        padding:10px;
        font-size:20px;
        .glyphicon.glyphicon-comment , .glyphicon.glyphicon-share , .comment-rating{
            color:grey;
        }
        .comment-rating{
            padding:8px;
        }
    }
    .post-add-icon:hover{
        .glyphicon.glyphicon-comment , .glyphicon.glyphicon-share , .comment-rating{
            color:#FF5E31;
        }
    }
}
.names-people-likes{
    position:relative;
    left:40px;
    a {
        color:black;
        font-size:18px;
        
    }
}

.block-btn.align-right{
    .create-album{
        background-color: #ff5e3a !important;
        border-color: #d8dbe6 !important;
        border-radius: 8px;
        color: white;
    }
    .upload-album{
        background-color: #ff5e3a !important;
        border-color: #d8dbe6 !important;
        border-radius: 8px;
        color: white;
        margin-left:425px;
    }
    .add-photos{
        border-color:#d8dbe6 !important;
        border-radius:8px;
        color:#c2c5d9;
    }
}


.gallery-header-title , .create-album , .add-photos{
    font-size: 15px;
    font-weight: bold;
    top: 0px;
    position: relative;
}

.create-album-container{
    border-style:dashed;
    border-width: 2px;
    border-color: grey;
    border-radius:10px;
    height: 400px;
    position: relative;
   
    .create-album{
        padding: 15px;
        width: 40%;
        position: relative;
        left: 77px;
        top: 100px;
    }
    .imgFooter{
        padding: 25px 25px 20px;
        text-align: center;
        background-color: #fff;
        position: relative;
        top: 80px;
        z-index: 1;
        left:3px;
        border: none;
        h4{
            font-size: 17px;
            font-weight:bold;
        }
        h5{
            font-size: 12px;
        }
    }
}

.friends-harmonic a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #fff;
    display: block;
    margin-left: -20px;
    position: relative;
    left: 15px;
    top: 5px;
}

.photo-album-item {
    img {
        padding: inherit;
        border-radius:10px 10px 0px 0px;
    }
    .image-content {
        opacity: 0;
        position: absolute;
        z-index: 1;
        bottom: 5px;
        right: 30px;
        .glyphicon.glyphicon-heart {
            font-size: 18px;
            color: red;
            margin:0px 10px 0px 0px;
        }
        .image-content-number{
            font-size: 18px;
        }
    }
    &:hover {
        .image-content {
          opacity: 1;
        }
        .imgFooter{
            top:-18% !important;
        }
        .test-hover1 {
          -webkit-filter: blur(2px);
          filter: blur(5px);
        }
    }
}

.post__author-name{
    font-size: 20px;
    font-weight: bold;
}

.post__date{
    font-size: 12px;
}
.open-photo-content {
    p {
        font-size: 16px;
    }
}


.popup-icon , .comment-profile-icon , .comment-images{
    border-radius:25px !important;
}
.author-date{
    position: relative;
    top: 13px;
}

.comment-section{
    position: relative;
    top: -20px;
}

.comment-section-glhpy-icon{
    span{
        font-size:15px;
        margin:0px 10px 0px 0px;
    }
}

.modal-title{
    font-weight: bold;
}

.carousal-images{
    width: 100% !important;
    max-height: 350px !important;
}

.modal-content{
    height:1050px;
}
.carousel-control.left , .carousel-control.right{
    position:absolute;
    top:200px;
}
.open-photo-text-container{
    position:relative;
    .open-photo-content{
        position: absolute;
        top: 280px;
    }
}

.video-corner{
    margin-left: 400px;
}

.video-react-big-play-button.video-react-big-play-button-center.test-hover{
    border-radius: 100px;
    width: 35px;
    height: 35px;
    padding: 22px;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center{
    left: 60% !important;
}