.headerContainer{
    display: grid;
    grid-template-columns: 70px auto 70px;
    width: 100%;
    left: 15px;
    position: relative;
}   

.chatIcon {
    padding: 20px;
    width: 70px;
    background: #7c5ac2;

}
.wholeContainer{
    display: grid;
    align-items: stretch;
    height: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    float: left;
    .notificationContainer {
        display: grid;
        height: 70px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        background: #494c62;
        float: left;
        padding: 20px;
        position: relative;

        .iconContainer {
            width: 50px;
            height: 50px;
            .socialIcon {
                position: relative;
                width: 50%;
                max-height: 50%;
                border-radius: 20px;
                left: 10px;
                margin: 0% 2% 0% 0%;
            }
            .badgeAlignment{
                width: 20px;
                height: 20px;
                line-height: 20px;
                top: -12px;
                right: -5px;
                position: relative;
                padding: 0px;
                border-radius:25px;
            }
        }
    }

    .searchContainer{
        display: grid;
        height: 70px;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-content: flex-end;
        background: #494c62;
        float: left;
        padding:20px;

        .navSearchFiledAlignment{
            margin-top: 0% !important;
            position: relative;
            top: 0px;
            right: 25px;
            .inputFieldCss{
                height: 65px;
                border: none;
                position: relative;
                top: -17px;
                width: 250%;
            }
        }

        .searchIconView.input-group-addon{
            height: 65px;
            border: none;
            position: relative;
            top: -17px;
            left: 89%;
            z-index: 999;
        }

        .findFriendTextAlignment{
                color: white;
            font-weight: bold;
            font-size: 15px;
            top: -58px;
            position: relative;
            left: 220%; 
        }

    }
}
.iconContainer.searchIcon1.glyphicon.glyphicon-search{
    position: relative;
    left: 15px;
    top: 7px;
}
@media only screen and (min-width : 320px) and (max-width : 480px){
    .searchContainer , .author-title , .profileIconDetails{
        display: none !important;
    }
    .notificationContainer{
        width: 100% !important;
    }
    .headerContainer{
        left:0px !important;
    }

    .topNavContainer , .chatIcon{
        left: 15px; 
        position: relative;
    }

}
@media only screen and (min-width : 481px) and (max-width : 767px) {
    .searchContainer , .author-title , .profileIconDetails{
        display: none !important;
    }
    .notificationContainer{
        width: 100% !important;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .topNavContainer {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        position: relative;
    }
    .navBarTitleAlignment , .chatIcon , .author-title , .iconContainer.searchIcon1,{
        display: none !important;
    }
    .notificationContainer{
        grid-template-columns: 20% 20% 20% 40% !important;
    }

    .headerContainer{
        grid-template-columns: 70px auto;
    }

    .navSearchFiledAlignment.navbar-form.navbar-left{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        position: relative;
    }

    .profileIcon{
        border-radius: 25px;
        width: 100%;
        position: relative;
        top:-15px;
    }
}



@media only screen and (min-width: 1025px) and (max-width: 1280px)  {
    .topNavContainer {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        position: relative;
    }

    .searchContainer{
        grid-template-columns: 20% 80% !important;
    }

    .chatIcon , .author-title , .iconContainer.searchIcon1,{
        display: none !important;
    }
    .navBarTitle{
        padding: 4px 0px !important;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    .notificationContainer{
        grid-template-columns: 15% 15% 15% 55% !important;
    }

    .headerContainer{
        grid-template-columns: 70px auto;
    }

    .inputFieldCss {
        left: 20px;
    }
    .navSearchFiledAlignment.navbar-form.navbar-left{
        display: grid;
        grid-template-columns: 40% 25%;
        grid-template-rows: auto;
        position: relative;
    }

    .profileIcon{
        border-radius: 25px;
        width: 100%;
        position: relative;
        top:-15px;
    }

    .searchIconView.input-group-addon{
        left:100% !important;
    }
}



@media only screen and (min-width: 1281px) {
    .topNavContainer {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        position: relative;
    }

    .searchContainer{
        grid-template-columns: 20% 80% !important;
    }

    .chatIcon , .iconContainer.searchIcon1,{
        display: none !important;
    }
    .navBarTitle{
        padding: 4px 0px !important;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    .notificationContainer{
        grid-template-columns: 15% 15% 15% 30% 25% !important;
    }

    .headerContainer{
        grid-template-columns: 70px auto;
    }

    .inputFieldCss {
        left: 20px;
    }
    .navSearchFiledAlignment.navbar-form.navbar-left{
        display: grid;
        grid-template-columns: 40% 25%;
        grid-template-rows: auto;
        position: relative;
    }

    .profileIcon{
        border-radius: 25px;
        width: 100%;
        position: relative;
        top:-15px;
    }

    .searchIconView.input-group-addon{
        left:100% !important;
    }

    i {
      border: solid white;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrow.down{
        left: 10px;
        position: relative;
        width: 10px;
        height: 10px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .autherSubTitle{
        font-size: 10px;
        top: -5px !important;
        position: relative;
    }
    .author-title{
        position: relative;
        left: 30px;
        top:-10px;
        color: white;
        display: inline-block;
        max-width: -201%;
        width: 200%;
        height: 130%;
        font-size: 15px;
        font-weight: bold;
    }

}