body {
    margin: 0;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: .812rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888da8;
    background-color: #edf2f6;
}

li{
	list-style: none;
}